{% extends "base.html" %}
{% load static %}

{% block title %}Pug or Ugh{% endblock %}

{% block main_content %}
  <!-- App -->
  <script src="{% static 'js/registration.js' %}"></script>
  <script src="{% static 'js/login.js' %}"></script>
  <script src="{% static 'js/checkboxGroup.js' %}"></script>
  <script src="{% static 'js/preferences.js' %}"></script>
  <script src="{% static 'js/dog.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <!-- End App -->
{% endblock main_content %}
